.cards__delete {
  background-image: url(../../../images/Trash.svg);
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: .2s ease-out;
}
.cards__delete:hover {
  opacity: .5;
}

